{% extends 'base.html' %}

{% block content %}
<div class="create_note">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <h1 style = "margin-left: 3vh;">Create Case Notes </h1>
        <div class ="form-group">
            <fieldset>
                {{ form.case.label }}
                {{ form.case(class="form-control", placeholder="Case:") }}
            </fieldset>

            <fieldset>
                {{ form.case_note.label }}
                {{ form.case_note(class="form-control", placeholder="Case Notes") }}
            </fieldset>
            <br>
            {{ form.submit(class= "btn btn-success") }}
    </form>
</div>
<div class="side_create_note">

</div>

{% endblock content %}