{% extends 'base.html' %}

{% block content %}

    <div class="container_login">
        <h1 style="margin-left:3vw;">Login Here</h1>
        <form style="margin-left:3vw;" action="" method="post">
            <div>
                {{ form.hidden_tag() }}
                <fieldset>
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Email") }}
                </fieldset>
                <fieldset>
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Password") }}
                </fieldset>
                <br>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="side_login">
    </div>

{% endblock content %}