{% extends 'base.html' %}

{% block content %}

<div class="container_display">
    <h3 style="margin-left: 25vw;">Hello {{current_user.username }}</h3>
    <div style="margin-left:2vw;">
        {% if current_user.is_authenticated %}
            {% for note in notes %}
                <div class='container'>
                    <h3>
                        <a href="{{ url_for('note_detail', note_id = note.id) }}">{{ note.case }} </a>
                    </h3>
                    <p>{{ note.case_note }} </p>   
                </div>

            {% endfor %}
        {% else %}
        {% endif %}
    </div>
</div>

<div class="side_display">
</div>


{% endblock content %}