<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="../static/css/whatwedo.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" defer></script> 
    <title>What We Do</title>
</head>
<body>
    <div class="gridwrapper">
        <div class="background-left"></div>
        <div class="background-right"></div>

        <div class="header">
            <div class="image-header">
                <img src="../static/images/logo.png"  alt= "Company logo" width=300 height=65 >
            </div>
            <div class="topnav">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('who_we_are') }}">WHO WE ARE</a></li>
                    
                    <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                    <li><a href="{{ url_for('login') }}">LOG IN</a></li>
                    <li id="contactus"><a href="{{ url_for('createnote') }}">CREATE NOTE</a></li>
                    <li id="contactus"><a href="{{ url_for('note_display') }}">DISPLAY NOTES</a></li>
                </ul>

            </div>
        </div>
        <!--Begin Nate's Section HTML-->    
        <div class="whatwedo">
            <div class="box">
                <p class="box-title">WHAT WE DO</p>
                <br>
                <div class="line"></div>
                <br>
                <div class="services">
                    <p class="list-head">Subrogation</p>
                    <p class="sub-list">Property</p>
                    <p class="sub-list">Workers Compensation</p>
                    <p class="list-head">Litigation</p>
                    <p class="sub-list">Apellate</p>
                    <p class="sub-list">Commercial</p>
                    <p class="sub-list">Defense</p>
                    <p class="sub-list">Labor/Employment</p>
                    <p class="list-head">Business</p>
                    <p class="sub-list">Brokerage Agreement</p>
                    <p class="sub-list">Business Formation</p>
                    <p class="sub-list">Business Related Contracts</p>
                    <p class="sub-list">Labor/Employment</p>
                    <p class="list-head">Transportation</p>
                    <br><br>
                    <div class="box-image">
                        <img src="https://via.placeholder.com/200x100" alt="placeholder">
                    </div>
                    <p class="attorneys">Attorneys</p>
                    <p class="meet">Meet our prestigious partners and<br>esteemed officials.</p>
                </div>
            </div>
        </div>

        <!--Begin Nibras Section-->
        <div class="description-box">
            <div class="description">
                <h3>What we do at Nielsen Zehe & Antas PC is prevent our client’s problems in some cases, solve their <br> 
                    problems in other cases, and ultimately, is the problems cannot be prevented or solved, prepare to take the <br>
                    problems to trial and WIN. Our attorneys, who view themselves as problem solvers, have tried more cases <br>
                    to a jury or judge that most law firms collectively. Whether the problem is a lawsuit, business deal, or <br>
                    formation of a new business, we have the skill, experience and business acumen to help our clients. </h3>
            </div>
            
            <div class="images">
                <div class="Box1">
                <img src="https://via.placeholder.com/150x150" alt="SUBROGATION">
            
                <img src="https://via.placeholder.com/150x150" alt="LITIGATION">
                </div>
                <div class="Box2">
                <img src="https://via.placeholder.com/150x150" alt="BUSINESS">
            
                <img src="https://via.placeholder.com/150x150" alt="TRANSPORTATION">
            </div>
            </div>
        </div>

        <div class="footer">
            <div class="footnav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li>-</li>
                    <li><a href="who-we-are.html">WHO WE ARE</a></li>
                    <li>-</li>
                    <li><a href="what-we-do.html">WHAT WE DO</a></li>
                    <li>-</li>
                    <li><a href="#">NEWS & EVENTS</a></li>
                    <li>-</li>
                    <li><a href="#">WHERE WE WORK</a></li>
                    <li>-</li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <p class="copyright">&copy;2009 Nielsen, Zehe & Antas, P.C. // Website Design by CodingTemple July Cohort 2020</p>
            </div>
        </div>
    </div>
</body>
</html>